flows.json
[{"id":"c0a2649.3f2cd98","type":"watson-speech-to-text","z":"290ab3d9.74385c","name":"Arabic","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"ar-AR","langhidden":"ar-AR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"dQZOTpITp74bQ7Y2iDoL0w2cRTN1AH4BSu1E0B2-gmz3","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":480,"y":215,"wires":[[]]},{"id":"70cb8dff.a594a4","type":"function","z":"290ab3d9.74385c","name":"Prepare text","func":"var chatID = msg.chatId.toString();\nvar lang = global.get(chatID) || 0;\n\nmsg.payload = msg.transcription;\n\n  \nif (lang === 0){\n    \nif (count === 0 && msg.payload === 'مرحبا' ||msg.payload === \"يا ترجمات \" || msg.payload === \"مرحبا \" ||msg.payload === \"ترجمات \"){\n\n    global.set(chatID,1);\n    msg.payloadtrans = \"Done1\";\n    return [msg,null,null,null,null,null,null];\n    \n}\nelse if ( msg.payload === \"Hey Watson \"|| msg.payload === \"Hello \"|| msg.payload === \"hello \"|| msg.payload === \"hello\"){\n\n    global.set(chatID,2);\n    msg.payloadtrans = \"Done2\";\n\n    return [null,msg,null,null,null,null,null];\n}\nelse if (count === 0 && msg.payload === 'Hola'|| msg.payload === 'Hola '||msg.payload === 'hola'){\n    global.set(chatID,3);\n    msg.payloadtrans = \"Done3\";\n\n    return [null,null,msg,null,null,null,null];\n}\nelse if (count === 0 && msg.payload === 'Bonjour' ||msg.payload === \"bon jour\" || msg.payload ===\"bonjour \" ){\n    global.set(chatID,4);\n    msg.payloadtrans = \"Done4\";\n\n    return [null,null,null,msg,null,null,null];\n    \n}\nelse if (count === 0 && msg.payload == \"こんにちは\" || msg.payload == \"ありがとう\"){\n    global.set(chatID,5);\n    msg.payloadtrans = \"Done5\";\n    \n    return [null,null,null,null,msg,null,null];\n    \n}\nelse if (count === 0 && msg.payload == \"hallo\" || msg.payload == \"Hallo\"){\n    global.set(chatID,6);\n    msg.payloadtrans = \"Done6\";\n    \n    return [null,null,null,null,null,msg,null];\n    \n}else{\n    \n    var countError = global.get('countError',chatID) || 0;\n    var countType = global.get('countType',chatID) || 0;\n    countError++;\n    global.set('countError',countError,chatID);\n    \n    if (countError === 6||countType === 1){\n        \n        msg.payload = \"Sorry I couldn't understand you. could you please repeat again\";\n    return [null,null,null,null,null,null,msg];\n    }\n    \n}\n}else if (lang > 6){\n    \n    msg.payload = \"Sorry I couldn't understand you. Could you please repeat again\";\n\n    return [null,null,null,null,null,null,msg];\n    \n}else{\n    \n       \n    \n    if (lang === 1){\n return [msg,null,null,null,null,null,null]\n}else if (lang === 2){\n return [null,msg,null,null,null,null,null]\n}else if (lang === 3){\n return [null,null,msg,null,null,null,null]\n}else if (lang === 4){\n return [null,null,null,msg,null,null,null]\n}else if (lang === 5){\n return [null,null,null,null,msg,null,null]\n}else if (lang === 6){\n return [null,null,null,null,null,msg,null]\n}\n}\n    \n\n\n","outputs":7,"noerr":0,"x":744,"y":239,"wires":[["75c5e9ac.262908"],["1e392443.7ce93c","57d55382.b9274c","b7dbf3b1.25906","e05fa000.c2809","224418ec.5e7d28"],["7023c98c.f9e9e8"],["9c2903e4.cb897"],["4f491147.3811"],["2ce4b1de.d1ebae"],["309829f3.8651e6","e66b9fba.764ea"]]},{"id":"fc633d01.48ee5","type":"watson-speech-to-text","z":"290ab3d9.74385c","name":"English","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"dQZOTpITp74bQ7Y2iDoL0w2cRTN1AH4BSu1E0B2-gmz3","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":490,"y":255,"wires":[["956f7ff7.be097"]]},{"id":"d8082ca9.69ac4","type":"watson-speech-to-text","z":"290ab3d9.74385c","name":"Spanish","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"dQZOTpITp74bQ7Y2iDoL0w2cRTN1AH4BSu1E0B2-gmz3","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":490,"y":295,"wires":[["956f7ff7.be097"]]},{"id":"30935e2a.c027a2","type":"watson-speech-to-text","z":"290ab3d9.74385c","name":"French","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"fr-FR","langhidden":"fr-FR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"dQZOTpITp74bQ7Y2iDoL0w2cRTN1AH4BSu1E0B2-gmz3","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":480,"y":335,"wires":[["956f7ff7.be097"]]},{"id":"975b1aff.e8dd58","type":"watson-speech-to-text","z":"290ab3d9.74385c","name":"Japanese","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"dQZOTpITp74bQ7Y2iDoL0w2cRTN1AH4BSu1E0B2-gmz3","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":490,"y":375,"wires":[[]]},{"id":"a82fb020.271e6","type":"function","z":"290ab3d9.74385c","name":"Prepare Voice","func":"\nvar chatID =  msg.chatId.toString()|| '000000000';\n\nvar lang = global.get(chatID) || 0;\n\nif (lang === 0){\n return [null,null,null,null,null,null,msg]\n}else if (lang === 1){\n return [msg,null,null,null,null,null,null]\n}else if (lang === 2){\n return [null,msg,null,null,null,null,null]\n}else if (lang === 3){\n return [null,null,msg,null,null,null,null]\n}else if (lang === 4){\n return [null,null,null,msg,null,null,null]\n}else if (lang === 5){\n return [null,null,null,null,msg,null,null]\n}else if (lang === 6){\n return [null,null,null,null,null,msg,null]\n}","outputs":7,"noerr":0,"x":203.00000762939453,"y":321.75000762939453,"wires":[["c0a2649.3f2cd98"],["fc633d01.48ee5"],["d8082ca9.69ac4"],["30935e2a.c027a2"],["975b1aff.e8dd58"],["cecceb81.09bee8"],["c0a2649.3f2cd98","fc633d01.48ee5","d8082ca9.69ac4","30935e2a.c027a2","975b1aff.e8dd58","cecceb81.09bee8"]]},{"id":"1e392443.7ce93c","type":"watson-translator","z":"290ab3d9.74385c","name":"English to Spanish Translation","action":"translate","basemodel":"en-nl","domain":"general","srclang":"en","destlang":"es","password":"","apikey":"L3W4jFWCgouQ8vg2PJTRYiMUtxFKPBOQx8TNjGOoe7U1","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"en-nl","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1042.0000305175781,"y":195.25000953674316,"wires":[["309829f3.8651e6"]]},{"id":"7023c98c.f9e9e8","type":"watson-translator","z":"290ab3d9.74385c","name":"Spanish Translation","action":"translate","basemodel":"en-nl","domain":"general","srclang":"es","destlang":"en","password":"","apikey":"L3W4jFWCgouQ8vg2PJTRYiMUtxFKPBOQx8TNjGOoe7U1","custom":"","domainhidden":"","srclanghidden":"","destlanghidden":"","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1039.5000381469727,"y":355.25001525878906,"wires":[["1b031d42.739363","309829f3.8651e6"]]},{"id":"9c2903e4.cb897","type":"watson-translator","z":"290ab3d9.74385c","name":"Frensh Translation","action":"translate","basemodel":"en-nl","domain":"general","srclang":"fr","destlang":"en","password":"","apikey":"L3W4jFWCgouQ8vg2PJTRYiMUtxFKPBOQx8TNjGOoe7U1","custom":"","domainhidden":"general","srclanghidden":"fr","destlanghidden":"en","basemodelhidden":"en-nl","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1039.5000381469727,"y":395.25001525878906,"wires":[["1b031d42.739363","309829f3.8651e6"]]},{"id":"4f491147.3811","type":"watson-translator","z":"290ab3d9.74385c","name":"Japanese Translation","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"tr","password":"","apikey":"L3W4jFWCgouQ8vg2PJTRYiMUtxFKPBOQx8TNjGOoe7U1","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"tr","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1049.5000381469727,"y":435.25001525878906,"wires":[[]]},{"id":"75c5e9ac.262908","type":"watson-translator","z":"290ab3d9.74385c","name":"Arabic Translation","action":"translate","basemodel":"en-nl","domain":"general","srclang":"ar","destlang":"en","password":"","apikey":"L3W4jFWCgouQ8vg2PJTRYiMUtxFKPBOQx8TNjGOoe7U1","custom":"","domainhidden":"general","srclanghidden":"ar","destlanghidden":"en","basemodelhidden":"en-nl","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1019.5000305175781,"y":126.25001525878906,"wires":[[]]},{"id":"1b031d42.739363","type":"watson-text-to-speech","z":"290ab3d9.74385c","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"","apikey":"DDkET7x7p8HOa4AOGNkUzHHvVxWiPT9OQryVMzpLY0US","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1517.7500457763672,"y":168.7500057220459,"wires":[["89fde289.29181"]]},{"id":"956f7ff7.be097","type":"link out","z":"290ab3d9.74385c","name":"voice Input","links":["8d9ad408.604868"],"x":608,"y":276,"wires":[]},{"id":"8d9ad408.604868","type":"link in","z":"290ab3d9.74385c","name":"Text_to_Translate","links":["956f7ff7.be097","41b16c10.274174","a3bafb66.abf318","b68bd01e.f67bb","22e8db7e.59c7a4","dd601983.ec6fc8","1cbac584.82ed8a"],"x":622,"y":228,"wires":[["70cb8dff.a594a4","a360dc34.6737"]]},{"id":"403edab2.56bb54","type":"link out","z":"290ab3d9.74385c","name":"Translated","links":["1a2e4736.e78529","a0efee6e.f7b07","9e495735.f26f68"],"x":1628.0000457763672,"y":335.00000762939453,"wires":[]},{"id":"89fde289.29181","type":"link out","z":"290ab3d9.74385c","name":"voiceSend","links":["b9adf3.40bc821","2cf68b5c.ddbad4"],"x":1547.7500457763672,"y":117.7500057220459,"wires":[]},{"id":"309829f3.8651e6","type":"function","z":"290ab3d9.74385c","name":"Check Message ID","func":"if (!isNaN(msg.chatId)){\n    return msg;\n}else{\n    var chatID = global.get('chatID',msg.payload.chatId.toString()) || 520109971;\n    msg.chatId = chatID;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1598.0000457763672,"y":294.00000762939453,"wires":[["403edab2.56bb54"]]},{"id":"a360dc34.6737","type":"debug","z":"290ab3d9.74385c","name":"","active":false,"console":false,"complete":"transcription","x":761,"y":152,"wires":[]},{"id":"62bd1de3.2886c4","type":"http request","z":"290ab3d9.74385c","name":"Fetch the Audio","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","proxy":"","x":273,"y":206,"wires":[["a82fb020.271e6"]]},{"id":"9063a0a3.eb9f6","type":"function","z":"290ab3d9.74385c","name":"Extract file_path","func":"audiourl = encodeURI(msg.payload.weblink);\nmsg.url=audiourl;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":339,"y":156,"wires":[["62bd1de3.2886c4"]]},{"id":"9583d2cf.24a9b","type":"link in","z":"290ab3d9.74385c","name":"","links":["edeac4c2.dca6e8","6513282d.c4f7c8"],"x":208,"y":156,"wires":[["9063a0a3.eb9f6"]]},{"id":"c54eb381.9837c","type":"function","z":"290ab3d9.74385c","name":"Check Message","func":"\nmsg.chatId= msg.payload.chatId;\nif (msg.payload.type === \"voice\"){\n        return [null, msg,null];\n}else{\n\nmsg.payload = msg.payload.content;\nmsg.transcription  = msg.payload;\n\nif (msg.payload === \"RestLang\"|| msg.payload === \"/start\" ){\n    global.set(msg.chatId,0);\n    msg.payloadtran= \"test1\";\n    msg.payload = \"Welcome to Terjmat!! \\nTerjmat is a translation app used IBM services to make the translation smart and easy. \\nIn this version you can use translation in the following: \\n- Arabic to English\\n- English to Arabic\\n- Spanish to English\\n- French to English\\n- Japanese to English\\nand we will support more language in the future.\\nTo start the translation try to say \\nHello, مرحبا, Hola, Bonjour, こんにちは \\nby your voice to set the default language. \\nor type anything in the supported language and the app will identify the language then translate it. \";\n    return [null,null, msg];\n}else{\n    \n    \nreturn [msg,null,null];\n}\n}","outputs":3,"noerr":0,"x":451.25000762939453,"y":634.2500419616699,"wires":[["df5727ca.89c2f8"],["6513282d.c4f7c8"],["dd5542ce.44cb3"]]},{"id":"183bcc92.d4cf43","type":"function","z":"290ab3d9.74385c","name":"Prepare Mesaage","func":"msg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : msg.payload\n    \n};\nreturn msg;","outputs":1,"noerr":0,"x":964.5000228881836,"y":640.2500419616699,"wires":[["75a009de.42cf08"]]},{"id":"1cbac584.82ed8a","type":"link out","z":"290ab3d9.74385c","name":"Telegram_Receiver","links":["8d9ad408.604868"],"x":647.2500076293945,"y":577.2500419616699,"wires":[]},{"id":"9e495735.f26f68","type":"link in","z":"290ab3d9.74385c","name":"Telegram_Sender","links":["403edab2.56bb54","dd5542ce.44cb3"],"x":832.5000228881836,"y":652.2500419616699,"wires":[["183bcc92.d4cf43"]]},{"id":"2cf68b5c.ddbad4","type":"link in","z":"290ab3d9.74385c","name":"","links":["89fde289.29181"],"x":829.5000228881836,"y":600.2500419616699,"wires":[["5f709fdc.3ec52"]]},{"id":"5f709fdc.3ec52","type":"function","z":"290ab3d9.74385c","name":"Prepare V Mesaage","func":"msg.payload = {\n    chatId : msg.chatId,\n    type : \"voice\",\n    content : msg.payload\n    \n};\nreturn msg;","outputs":1,"noerr":0,"x":964.5000228881836,"y":605.2500419616699,"wires":[["75a009de.42cf08"]]},{"id":"6513282d.c4f7c8","type":"link out","z":"290ab3d9.74385c","name":"Telegram_Voice_Receiver","links":["1a1931c5.ec13de","9f94d137.f45a7","9f58b470.8fad68","9583d2cf.24a9b"],"x":647.2500076293945,"y":615.2500419616699,"wires":[]},{"id":"df5727ca.89c2f8","type":"watson-language-translator-identify","z":"290ab3d9.74385c","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":249.25000762939453,"y":579.2500419616699,"wires":[["e6109dc8.3fe35"]]},{"id":"dd5542ce.44cb3","type":"link out","z":"290ab3d9.74385c","name":"","links":["9e495735.f26f68"],"x":647.2500076293945,"y":655.2500419616699,"wires":[]},{"id":"e6109dc8.3fe35","type":"function","z":"290ab3d9.74385c","name":"Set Language","func":"var chatID = msg.chatId.toString();\n\nmsg.transcription  = msg.payload;\n\n if (msg.lang.language === \"ar\"){\n    global.set(chatID,1);\n\n return msg;\n}else if (msg.lang.language === \"en\"){\n    \n    global.set(chatID,2);\n\n return msg;\n}else if (msg.lang.language === \"es\"){\n    \n    global.set(chatID,3);\n\n return msg;\n}else if (msg.lang.language === \"fr\"){\n    \n    global.set(chatID,4);\n\n return msg;\n}else if (msg.lang.language === \"ja\"){\n    \n    global.set(chatID,5);\n\n return msg;\n}else if (msg.lang.language === \"de\"){\n    \n    global.set(chatID,6);\n\n return msg;\n}","outputs":1,"noerr":0,"x":451.25000762939453,"y":577.2500419616699,"wires":[["1cbac584.82ed8a"]]},{"id":"e66b9fba.764ea","type":"debug","z":"290ab3d9.74385c","name":"","active":false,"tosidebar":true,"console":false,"complete":"false","x":742,"y":316,"wires":[]},{"id":"6226c8c5.596e98","type":"comment","z":"290ab3d9.74385c","name":"Receive text or voice message from Telegram","info":"","x":328.75000762939453,"y":524.2500419616699,"wires":[]},{"id":"7e008bf5.1d3cd4","type":"comment","z":"290ab3d9.74385c","name":"Send text or voice message to Telegram","info":"","x":972.5000228881836,"y":551.2500419616699,"wires":[]},{"id":"aebd4765.875768","type":"comment","z":"290ab3d9.74385c","name":"Check the voice and convert it to text","info":"","x":343,"y":93,"wires":[]},{"id":"386021d2.82aa3e","type":"comment","z":"290ab3d9.74385c","name":"Translate the text and convert it to voice","info":"","x":831.5000305175781,"y":81.25000381469727,"wires":[]},{"id":"57d55382.b9274c","type":"watson-translator","z":"290ab3d9.74385c","name":"English to Arabic Translation","action":"translate","basemodel":"en-nl","domain":"general","srclang":"en","destlang":"ar","password":"","apikey":"L3W4jFWCgouQ8vg2PJTRYiMUtxFKPBOQx8TNjGOoe7U1","custom":"","domainhidden":"","srclanghidden":"","destlanghidden":"","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1035.0001220703125,"y":230.50003242492676,"wires":[["309829f3.8651e6"]]},{"id":"b7dbf3b1.25906","type":"watson-translator","z":"290ab3d9.74385c","name":"English to French Translation","action":"translate","basemodel":"en-nl","domain":"general","srclang":"en","destlang":"fr","password":"","apikey":"L3W4jFWCgouQ8vg2PJTRYiMUtxFKPBOQx8TNjGOoe7U1","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"en-nl","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1035.0000305175781,"y":264.25003242492676,"wires":[["309829f3.8651e6"]]},{"id":"e05fa000.c2809","type":"watson-translator","z":"290ab3d9.74385c","name":"English to Japanese Translation","action":"translate","basemodel":"en-nl","domain":"general","srclang":"en","destlang":"ja","password":"","apikey":"L3W4jFWCgouQ8vg2PJTRYiMUtxFKPBOQx8TNjGOoe7U1","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"ja","basemodelhidden":"en-nl","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1045.000129699707,"y":306.75000953674316,"wires":[["309829f3.8651e6"]]},{"id":"224418ec.5e7d28","type":"watson-translator","z":"290ab3d9.74385c","name":"English to German Translation","action":"translate","basemodel":"en-nl","domain":"general","srclang":"en","destlang":"de","password":"","apikey":"L3W4jFWCgouQ8vg2PJTRYiMUtxFKPBOQx8TNjGOoe7U1","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"de","basemodelhidden":"en-nl","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1045.0000305175781,"y":161.75001335144043,"wires":[["309829f3.8651e6"]]},{"id":"2ce4b1de.d1ebae","type":"watson-translator","z":"290ab3d9.74385c","name":"German Translation","action":"translate","basemodel":"en-nl","domain":"general","srclang":"de","destlang":"en","password":"","apikey":"L3W4jFWCgouQ8vg2PJTRYiMUtxFKPBOQx8TNjGOoe7U1","custom":"","domainhidden":"general","srclanghidden":"de","destlanghidden":"en","basemodelhidden":"en-nl","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1047.5000381469727,"y":473.00003814697266,"wires":[[]]},{"id":"cecceb81.09bee8","type":"watson-speech-to-text","z":"290ab3d9.74385c","name":"German","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"de-DE","langhidden":"de-DE","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"dQZOTpITp74bQ7Y2iDoL0w2cRTN1AH4BSu1E0B2-gmz3","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":491.25003814697266,"y":413.0000114440918,"wires":[[]]},{"id":"584a8575.6d118c","type":"comment","z":"290ab3d9.74385c","name":"Adding Another Language (double click to read)","info":"To add a new language comnplete the following steps:\n**Voice to text section:**\n1. Copy and paste a new voice to text light green node, double click it, and switch to the desired language\n2. Add another output to \"Prepare Voice\" function and connect it to the voice to text node and the voice node to the voice input link\n**Text to voice section:**\n3. Copy and paste new text translation nodes (blue) - the language to english and english to the language\n4. Add another output to \"Prepare Text\" function and connect it to the translation nodes (all english to language nodes connect to the same point) and connect the translation nodes to the \"Check Message ID\" function and language to english node to the text to speech node\n5. \"Prepare Text\" function needs to be fixed to work with the new total number of working languages and rewired\n**Receive text to voice message section:**\n6. Add another language identifier to the \"Set Language\" function","x":719.3750076293945,"y":482.9999990463257,"wires":[],"icon":"node-red/alert.png"},{"id":"c336f6ab.9e6f18","type":"telegram receiver","z":"290ab3d9.74385c","name":"","bot":"d5a3dc8d.5c468","saveDataDir":"","x":239.25000762939453,"y":630.2500419616699,"wires":[["c54eb381.9837c"],[]]},{"id":"75a009de.42cf08","type":"telegram sender","z":"290ab3d9.74385c","name":"Angely_bot","bot":"d5a3dc8d.5c468","x":1140.5000228881836,"y":623.2500419616699,"wires":[[]]},{"id":"d5a3dc8d.5c468","type":"telegram bot","z":"","botname":"Angely_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false}]